In [69]:
import numpy as np
import pandas as pd

root = '/Users/lukearend/phd/kfx'
sessions = pd.read_csv(f'{root}/ref/sessions.csv')
recordings = pd.read_csv(f'{root}/ref/recordings.csv')
metadata = pd.read_csv(f'{root}/ref/metadata.csv')

In [70]:
sessions.sort_values(['indiv', 'date'])
indivs = ['M015', 'M016', 'M017', 'M018', 'M023']
df1 = sessions[sessions.indiv.isin(indivs)].drop(columns='path')

In [71]:
df2 = recordings[['recording', 'lfp_start', 'lfp_end', 'theta_start', 'theta_end']]

In [72]:
hpc = metadata.region == 'hpc'
lfp = metadata.signal == 'lfp'
df3 = metadata[hpc & lfp].drop(columns=['region', 'signal', 'created', 'disk', 'duration'])
df = df1.merge(df2, on='recording').merge(df3, on='recording')

In [73]:
df['int2volt'] = df.maxvolts / df.bitdepth
df = df.drop(columns=['maxvolts', 'minvolts', 'bitdepth', 'chansys', 'nchans'])

In [86]:
df.sort_values(['indiv', 'date'])

,recording,indiv,date,drug,doses,lfp_start,lfp_end,theta_start,theta_end,firstsample,samplerate,gain,chanstart,chanend,int2volt
0,0,M015,2022-07-27,SAL,"(0, 0, 0)",24077,18029080,94,171,695169,2500,125,0,383,0.001172
2,2,M015,2022-08-01,RSK,"(3, 10, 30)",87594,18093008,75,131,280726,2500,125,0,383,0.001172
3,3,M015,2022-08-03,RSK,"(3, 10, 30)",62372,18064301,64,111,96437,2500,125,0,383,0.001172
1,1,M016,2022-07-28,SAL,"(0, 0, 0)",56145,18614969,93,148,167143,2500,125,0,383,0.001172
4,4,M016,2022-08-04,RSK,"(3, 10, 30)",58586,18068529,78,127,107763,2500,125,0,383,0.001172
5,5,M016,2022-08-06,RSK,"(3, 10, 30)",36874,18018439,0,0,242004,2500,125,0,383,0.001172
6,6,M017,2022-08-08,SAL,"(0, 0, 0)",38525,18046552,0,0,241882,2500,125,0,383,0.001172
8,8,M017,2022-08-12,RSK,"(3, 10, 30)",28792,18039519,65,150,1433212,2500,50,0,383,0.001172
7,7,M018,2022-08-11,SAL,"(0, 0, 0)",38439,18060209,60,123,860145,2500,50,0,383,0.001172
9,9,M018,2022-08-13,RSK,"(3, 10, 30)",23493,18035202,54,150,182309,2500,50,0,383,0.001172
10,10,M018,2022-08-15,RSK,"(3, 10, 30)",31173,18041846,40,110,1141067,2500,50,0,383,0.001172
11,15,M023,2022-09-12,SAL,"(0, 0, 0)",37339,18043918,72,125,774014,2500,50,0,383,0.001172
12,16,M023,2022-09-14,RSK,"(3, 10, 30)",26681,18089005,64,131,583397,2500,50,0,383,0.001172
13,17,M023,2022-09-16,RSK,"(3, 10, 30)",26326,18030717,20,70,740068,2500,50,0,383,0.001172